* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    background: rgb(15, 43, 21);
    height: 100vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Select class */
.custom-select {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;   
}
.custom-select select {
    font-family: Arial;
    min-width: 20%;
    height: 2em;
}
/* END select class*/
